.mockdocument {
  width: 25rem;
  height: 12.5rem;
  margin: 0.7rem;
  margin-left: 1.25rem;
  color: orangered;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mockdocument-title {
  margin: 10px;
}

.mockdocument:hover {
  background: orange;
}
